{% extends 'MSBundle:Campagne:index.html.twig' %}

{% block content %}
    <h1>Campagne creation</h1>

    <form action="{{ path('campagne_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button type="submit">Create</button>
        </p>
    </form>

        {#<ul class="record_actions">#}
    {#<li>#}
        {#<a href="{{ path('enquete_new') }}">#}
            {#Ajouter une enquete#}
        {#</a>#}
    {#</li>#}
{#</ul>#}
{% endblock %}
